<!DOCTYPE html>
<html>

<head>
    <title>Room Search</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <h2>Reservation Search</h2>
    <form>
        <label for="hotelselected">Choose a Hotel:</label>
        <select id="hotelselected" name="hotel">
            <option value="Harmony Hills Hotel">Harmony Hills Hotel</option>
            <option value="Emerald Isle Resort">Emerald Isle Resort</option>
            <option value="Seaside Escape Resort">Seaside Escape Resort</option>
            <option value="Hidden Oasis Resort">Hidden Oasis Resort</option>
            <option value="Wildflower Inn">Wildflower Inn</option>
            <option value="Golden Gate Hotel">Golden Gate Hotel</option>
            <option value="Rainbow Valley Inn">Rainbow Valley Inn</option>
            <option value="Golden Sands Hotel">Golden Sands Hotel</option>
            <option value="Moonlight Motel">Moonlight Motel</option>
            <option value="Whitewater Lodge">Whitewater Lodge</option>
            <option value="Tranquil Waters Hotel">Tranquil Waters Hotel</option>
            <option value="Sunnyvale Inn">Sunnyvale Inn</option>
            <option value="Cedar Ridge Lodge">Cedar Ridge Lodge</option>
            <option value="Serenity Springs Resort">Serenity Springs Resort</option>
            <option value="Rainbow Valley Inn">Rainbow Valley Inn</option>
            <option value="Silver Lake Retreat">Silver Lake Retreat</option>
            <option value="Seaside Escape Resort">Seaside Escape Resort</option>
            <option value="Cedar Ridge Lodge">Cedar Ridge Lodge</option>
            <option value="Mountain Top Inn">Mountain Top Inn</option>
        </select>
        Beginning Date: <input name="bookingstartdate" id="beg" type="date" value="{{ bookingstartdate }}"> &nbsp;
        End Date: <input name="bookingenddate" id="end" type="date" value="{{ bookingenddate }}"> &nbsp;
        <input type="submit" value="Search">
    </form>
    {% if data %}
    <div id="table_div"></div>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['table'] });
        google.charts.setOnLoadCallback(drawTable);

        window.onload = function () {
            var selectedHotel = "{{ hotel }}";

            var hotelDropdown = document.getElementById("hotelselected");
            for (var i = 0; i < hotelDropdown.options.length; i++) {
                if (hotelDropdown.options[i].value === selectedHotel) {
                    hotelDropdown.options[i].selected = true;
                    break;
                }
            }
        };

        function drawTable() {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'RoomType');
            dataTable.addColumn('string', 'Average Cost Per Night (in USD)');

            dataTable.addRows([
                {% for row in data %}
        [{% for i in range(1, 3) %}'{{ row[i] }}', {% endfor %}],
        {% endfor %}
            ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(dataTable, { showRowNumber: true, page: true, pageSize: 50 });

        google.visualization.events.addListener(table, "select", function () {
            let selection = table.getSelection();
            let item = selection[0];

            if (item) {
                let newValue = dataTable.getValue(item.row, 0);
                let newInput = document.createElement("input");
                newInput.type = "text";
                newInput.value = newValue;
                newInput.name = "roomtype";
                newInput.size = "20";
                document.getElementById("room_types").appendChild(newInput);

                // My way to get the dates into the make reservation file
                document.getElementById("bookingstartdate").value = document.getElementById("beg").value;
                document.getElementById("bookingenddate").value = document.getElementById("end").value;
                document.getElementById("hotel").value = document.getElementById("hotelselected").value;

            }
        });
        }
    </script>
    <br>
    <form action="/make_reservation">
        <p>Selected rooms:<br><br>
            <input id="hotel" name="hotel" value="" type="text" size="30">
        <div id="room_types"></div>
        <input id="bookingstartdate" name="bookingstartdate" type="hidden">
        <input id="bookingenddate" name="bookingenddate" type="hidden">
        <br><br><br><input type="submit" value="Reserve">
        </p>
    </form>
    {% endif %}
</body>

</html>